@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.heading .main-heading {
  width: 12%;
  line-height: 3rem;
  font-weight: 800;
  font-size: 2.5rem;
  margin-left: 7%;
}

.heading hr {
  width: 85%;
  text-align: center;
  margin: 0 60px;
}

.contact-us {
  margin-top: 100px;
}

.contact-us .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .heading span {
  font-size: 1.5rem;
}

.contact-us .heading h3 {
  padding-left: 6px;
  font-weight: 800;
  font-size: 1.5rem;
}

.contact-us .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .main-container .sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

.contact-us .main-container .sub-container .img-container {
  height: 600px;
  width: 400px;
}

.contact-us .main-container .sub-container .img-container img {
  height: 100%;
  width: 100%;
}

.contact-us .main-container .sub-container .form-container {
  padding: 70px 49px;
}

.contact-us .main-container .sub-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us .main-container .sub-container .form-container form label {
  padding-bottom: 8px;
  font-weight: 500;
}

.contact-us .main-container .sub-container .form-container form input {
  margin-bottom: 50px;
  height: 38px;
  width: 300px;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
}

.contact-us .main-container .sub-container .form-container form #big-input {
  height: 100px;
}

.contact-us .main-container .sub-container .form-container form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-us .main-container .sub-container .form-container form .btn button {
  padding: 5px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #4e6086;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: large;
}
/*# sourceMappingURL=contact-us.css.map */